#stalker {
  position: fixed;
  transition: left .5s ease-in-out 0s, top .5s ease-in-out 0s;
  z-index: 9999;
}

#m_stalker {
  /* background: crimson; */

  background: url(../img/MainBlue.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 160px;

  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: .1s;
  z-index: 10;
}
