#stalker {
  position: fixed;
  transition: left .5s ease-in-out 0s, top .5s ease-in-out 0s;
  z-index: 9999;
}

#m_stalker {
  background: crimson;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: .1s;
  z-index: 10;
}
