body {
  background: linear-gradient(5deg, rgba(0, 139, 239, 0.2), rgba(225, 249, 255, 0.1)), url(../img/bg-ocean.png) center center / cover no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
  background-position: bottom;
  /* TODO: 開発終了時に設置 */
  /* overflow: hidden; */
}

.wrap {
  animation: move;
  transition-timing-function: cubic-bezier(0.64, 0.18, 1, 1);
  animation-duration: 53s;
  padding: 30px;
  width: 650vw;
  height: auto;
  max-height: 768px;
  display: grid;
  grid-template: repeat(5, 120px) / repeat(50, 120px);
  grid-gap: 20px;
}

.info {
  /* color: white; */
  position: absolute;
  right: 5px;
  bottom: 20px;
}

.scoreArea {
  position: absolute;
  right: 3%;
  top: 2%;
  color: navy;
  font-size: 2em;
}

.scoreInner {
  display: flex;
}

/* 背景のアニメ */
@keyframes move {
  0% {
    margin-left: 50px;
  }

  100% {
    margin-left: -550vw;
  }
}

@font-face {
  font-family: 'DragonQuestFC';
  src: url(../font/DragonQuestFC.ttf);
}

.win span {
  font-family: 'DragonQuestFC';
  font-size: 2.2em;
  line-height: 100%;
}
