body {
  background: darkblue;
  background: linear-gradient(to bottom, blue 0%, darkblue 100%);
}

.wrap {
  animation: move;
  transition-timing-function: cubic-bezier(0.64, 0.18, 1, 1);
  animation-duration: 50s;

  padding: 30px;
  width: 600vw;
  height: auto;
  max-height: 768px;
  /* background-color: rgba(255, 255, 255, .2); */

  display: grid;
  grid-template: repeat(5, 120px) / repeat(50, 120px);
  grid-gap: 20px;
}

.info {
  color: white;
  position: absolute;
  top: 5px;
  right: 20px;
}

.box {
  /* float: left; */
  /* width: 80px; */
  /* height: calc(100vh / 10);
  width: calc(100vh / 10); */
  width: 120px;
  height: 120px;
  /* width: calc(100vh / 12 - (24px) ); */
  /* margin: 0; */
  background: rgba(27, 186, 195, 0.6);
  opacity: 0.8;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  /* line-height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.box.hit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
} */

/* +1の数字 */
/* 当たり */
.box:nth-child(11),
.box:nth-child(106),
.box:nth-child(116),
.box:nth-child(81),
.box:nth-child(186),
.box:nth-child(76) {
  /* background-color: #fff; */

  background: url(http://placeimg.com/240/240/any);
  width: 120px;
  height: 120px;
  background-position: center;

}

.box.hit {
  /* display: block; */
  background: url(http://placeimg.com/320/360/any);
  width: 120px;
  height: 120px;
  background-position: center;
}

.hoverAction {
  background: pink;
}

.hit.hitpal {
  height: 30px;
  width: 30px;
  background-color: teal;
  position: absolute;
  z-index: 2;
  left: -6px;
  bottom: -10px;
}


/* はずれ */
.box:nth-child(111),
.box:nth-child(71) {
  background-color: yellow;
}

@keyframes move {
  0% {
    margin-left: 50px;
  }

  100% {
    margin-left: -550vw;
  }
}