.timer,
.over {
  color: floralwhite;
  position: absolute;
  left: 2%;
  top: 2%;
  /* transform: translate(-50%, -50%) */
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.over {
  font-size: 3em;
  top: 60px;
}

/* .restart {
  padding: 2px 15px;
  margin-left: 15px;
  border: 1px solid #fff;
  cursor: pointer;
} */
.bossArea {
  position: fixed;
  right: -250px;
  top: 120%;
  transition: 2s;
  background-color: gray;
  display: block;
  width: 250px;
  height: 250px;
}

.bossArea.active {
  right: 100px;
  transform: rotate(360deg);
  top: calc(50% - 100px);
}
