.timer,
.over {
  color: #333;
  position: absolute;
  left: 2%;
  top: 2%;
  display: flex;
  align-items: center;
  font-size: 2em;
  transition: .3s;
  z-index: 10;
}

.over.active {
  font-size: 5em;
  white-space: nowrap;
  /* top: 60px; */
  z-index: 1;
  color: crimson;
  position: absolute;
  left: calc(50% - 2.5em);
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(0%, -10%);
  opacity: .8;
}

/* .restart {
  padding: 2px 15px;
  margin-left: 15px;
  border: 1px solid #fff;
  cursor: pointer;
} */
.win {
  opacity: 0;
  font-size: 0px;
  transition: 1s;
}

.win.active {
  color: orange;
}

.win.lose {
  color: crimson;
}

/* last */
.win.show {
  opacity: 1;
  font-size: 50px;
  text-shadow: 2px 2px 2px #fff;
  transition: 1s;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 0;
  right: 0;
  background: rgba(146, 217, 255, 0.51);
  white-space: nowrap;
  height: auto;
  max-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.bossArea {
  position: fixed;
  /* background-color: gray; */
  background: url(../img_y/naporeonfish.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 400px;
  height: 400px;
  right: -100%;
  transform: rotate(80deg);
  transition: 2s;
}

.bossArea.active {
  right: -400px;
  bottom: 0%;
  transform: rotate(40deg);
  width: 1000px;
  height: 1000px;
}
